
  
  body {
    margin: 0;
    background-image: url("elden\ ring\ background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    grid-area: 2 / 2 / span 2 / span 3;
    text-align: justify;
    padding: 1% 2% 2% 2%;
    background-color: ghostwhite;
    opacity: .9;
    margin: 0% 5% auto 5%;
    border: 1px black solid;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    font-weight: 400;
    line-height: 1.5rem;
    box-shadow: 2px 2px 5px 1px black;
  }
  
  /* Style the header */
  .header {
    background-color: black;
    padding: 20px;
    text-align: center;
  }
  
  
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
  }
  
  /* Left and right column */
  .column.side {
    width: 25%;
  }
  
  /* Middle column */
  .column.middle {
    width: 50%;
    padding-top: 10%;
    padding-right: 5%;
    grid-area: 2 / 2 / span 2 / span 3;
        text-align: justify;
        padding: 1% 2% 2% 2%;
        background-color: ghostwhite;
        opacity: 5 ;
        margin: 0% 5% auto 5%;
        border: 1px black solid;
        border-bottom-left-radius: 2%;
        border-bottom-right-radius: 2%;
        font-weight: 400;
        line-height: 1.5rem;
        box-shadow: 2px 2px 5px 1px black;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }
  }